html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }


*{
    
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    height: 100vh;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;

}


.navbar{
    margin-bottom: auto;
    background-color: #8B5CF6;
    width: 100%;
    height: 80px;
}

.navbar-text{
    font-size: 2rem;
    margin: 0 auto;
    padding: 1rem 0;
}

.main{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 3rem 0;
    background-image: linear-gradient(45deg, #f772b2, aqua);

}
textarea {
    overflow-y: scroll;
}

.input-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px auto;
    flex: 1;
    max-width: 1fr;

}

.input-title{
    font-size: 26px;
}

#usertext{
    margin-top: 10px;
    max-width: 1fr;
    height: 150px;
    resize: none;
    font-size: 18px;
    padding: 10px;
}

.btn-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0;
}

#btn-translate {
    border-radius: 28px;
    color: #000000;
    font-size: 20px;
    background: #7e00f35b;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: 2px solid #000000;
}

.output-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px auto;
    flex: 1;
    max-width: 1fr;
}

.output-title{
    font-size: 26px;
}

#translation{
    margin-bottom: 10px;
    width: 500px;
    height: 150px;
    resize: none;
    font-size: 18px;
    padding: 10px;
}

/* Footer */

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6c06cc5b;
  
  }
  footer a{
    font-size: 1.5rem;
    color: rgb(5, 1, 12);
    padding: 0.5rem;
    /* margin-right: 1rem; */
  
  }
  
  footer a:not(:last-child){
    margin-right: 1rem;
  }
  
  footer p{
    margin-top: 1rem;
  }
  
