@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --primary: #7e00f35b;
    --black: #333333;
    --width-break:600px

}

body {
    margin: 0;
    font-family: 'Baloo Bhai 2';
    color: #333333;
    background-image: linear-gradient(45deg, #f772b2, aqua);

}

nav {
    background-color: var(--primary);
    text-align: center;
}

main {
    margin: auto;
    padding: 1rem;
    max-width: var(--width-break);
    height: 73vh;

}

textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-height: 20vh;
    margin-top: 2rem;
    font-size: large;
    font-family: inherit;
}

button {
    background-color: #7e00f35b;
    border: none;
    margin: 1rem 0rem;
    padding: 1rem 2rem;
    font-family: 'Kalam', cursive;
    font-size: large;
}


#translate-output {
    box-sizing: border-box;
    width: 100%;
    min-height: 10vh;
    max-height: 20vh;
    overflow:scroll;
    border: 1px solid var(--black);
    background-color: #fff;
    color: #333333;
}

/* Footer */

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6c06cc5b;
  
  }
  footer a{
    font-size: 1.5rem;
    color: rgb(5, 1, 12);
    padding: 0.5rem;
    /* margin-right: 1rem; */
  
  }
  
  footer a:not(:last-child){
    margin-right: 1rem;
  }
  
  footer p{
    margin-top: 1rem;
  }
  